<!-- <table mat-table  [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef> USER ID. </th>
    <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
  </ng-container>

 
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

 
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  
  <ng-container matColumnDef="completed">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.completed}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->

<div class="container mt-2 border">
<table class="table">
  <thead>
    <th>No.</th>
    <th>User</th>
    <th class="text-left">Title</th>
    <th>Complete?</th>
  </thead>
<tbody>
  <tr *ngFor="let item of items.reverse(); index as i" >
    <td>
      {{i+1}}
      <br>
      <button mat-raised-button color="warn" mat-button (click)="deleteToDo(item.id)">
          <mat-icon>delete</mat-icon>
      </button>
    </td>
    <td>
      <img class="rounded-circle" src="https://source.unsplash.com/random/50x50"/>
      <br>
      {{item.userId | generateNameByUserId }}
    </td>
    <td class="text-left">{{item.title}}</td>
    <td>{{item.completed | pipeIscomplete}}</td>
  </tr>
</tbody>
</table>
</div>