.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.mt-2{
 margin-top: 20px;
}
.text-left{
  text-align: left;
}
table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }