.masked-copy {
    padding-bottom: 12px;
    margin-bottom: -12px;
}
.masked-copy {
    -webkit-background-clip: text;
    color: transparent !important;
}
.texture-1 {
    background-repeat: no-repeat;
    background-image: url(./../assets/images/copy_texture_1_large.jpg);
}
