<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="text-align:center">
      <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/155/fire_1f525.png" class="mt-4 mb-3"/>
      <h3 class="masked-copy texture-1">Todo app</h3>
      <app-form-items></app-form-items>
      <app-todo-items></app-todo-items>
<router-outlet></router-outlet>
