<!-- <form [formGroup]="todoForm">
<div class="input-group mb-1">
  <input   formControlName="name"
  type="text" class="form-control col-12" placeholder="name here...." >
  </div>
  <div class="input-group mb-1">
  <input formControlName="content" type="text" class="form-control col-12" (keyup.enter)="addNewTodo()"  id="btn-add-todo" placeholder="type some text....">
  </div>
  <div class="form-group form-check text-left">
      <input formControlName="isComplete" type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Is complete?</label>
    </div>
  <button class="btn btn-sm btn-primary mb-3" type="button" (click)="addNewTodo()"  id="btn-add-todo">Add todo</button>
</form> -->

<form [formGroup]="todoForm">
  <div class="example-container container mb-3 mt-3">
    <mat-form-field class="mb-2">
      <input formControlName="userId" matInput placeholder="USER ID" type="number" required>
      <!-- <mat-error *ngIf="todoForm.controls.userId.invalid">{{getErrorUserId()}}</mat-error> -->
      <mat-error *ngIf="todoForm.controls.userId.invalid">{{getErrorUserId()}}</mat-error>
  </mat-form-field>
    
    <mat-form-field>
      <textarea formControlName="title" matInput placeholder="TITLE" required></textarea>
    </mat-form-field>
    <mat-checkbox style="float: left;" formControlName="completed">Is complete?</mat-checkbox>
    <button type="submit" class="col-4 justify-content-md-center" mat-button mat-raised-button color="warn"
      (click)="addNewTodo()">
      Add Todo
    </button>
  </div>
</form>